webserver {
    host = 'localhost'
    port = 8080
}

database {
    url = 'jdbc:mysql://localhost/aggregator?useUnicode=true&amp;characterEncoding=UTF-8&amp;characterSetResults=UTF-8'
    username = 'javauser'
    password = 'javauser'

    pool {
        minSize = 5
        maxSize = 20
        increment = 2
        maxIdle = 30 * minute
        maxExcessIdle = 3 * minute
        maxAge = 60 * minute
    }
}

//parsers files location (relative to this config script)
parsersDir '../conf/parsers'


//parsers declarations

parser name: 'dumbParser', src: 'DumbParser.groovy'
parser name: 'dumbassParser', src: 'ReallyDumbassParser.groovy'
