webserver {
    host = 'localhost'
    port = 8080
}

database {
    url = 'jdbc:mysql://localhost/aggregator?useUnicode=true&characterEncoding=UTF-8&characterSetResults=UTF-8'
    username = 'javauser'
    password = 'javauser'

    pool {
        minSize = 5
        maxSize = 20
        increment = 2
        maxIdle = 30 * minute
        maxExcessIdle = 3 * minute
        maxAge = 60 * minute
    }
}

//parsers files location
parsersDir '../conf/parsers'

//parsers declarations
parser name: 'rssParser',       src: 'RssParser.groovy'
parser name: 'novayaRssParser', src: 'RssParserNovayaGazeta.groovy'
parser name: 'meduzaParser',    src: 'MeduzaParser.groovy'

//parsing targets
target {
    name    = 'meduza.io'
    url     = 'https://meduza.io'
    parseWith = 'meduzaParser'
    pollingInterval = 5 * minute
}

target {
    name    = 'НЭВЭЛЬНЫЙ 20!8'
    url     = 'https://navalny.com/blog/post.rss'
    parseWith = 'rssParser'
    pollingInterval = 10 * minute
}

target {
    name    = 'Новая газета'
    url     = 'https://content.novayagazeta.ru/rss/all.xml'
    parseWith = 'novayaRssParser'
    pollingInterval =  10 * minute
}




