webserver {
    host = 'localhost'
    port = 8080
}

database {
    url = 'jdbc:mysql://localhost/aggregator?useUnicode=true&characterEncoding=UTF-8&characterSetResults=UTF-8'
    username = 'javauser'
    password = 'javauser'

    pool {
        minSize = 5
        maxSize = 20
        increment = 2
        maxIdle = 30 * minute
        maxExcessIdle = 3 * minute
        maxAge = 60 * minute
    }
}

//parsers files location
parsersDir '../conf/parsers'

//parsers declarations
//parser name: 'dumbParser',      src: 'DumbParser.groovy'
parser name: 'rssParser',       src: 'RssParser.groovy'

//parsing targets

/*target {
    name = 'test'
    url = 'http://example.com'
    parseWith = 'dumbParser'
    pollingInterval = 5 * minute
}*/

target {
    name = 'НЭВЭЛЬНЫЙ 20!8'
    url = 'https://navalny.com/blog/post.rss'
    parseWith = 'rssParser'
    pollingInterval = 10 * minute
}


