h1 {
    font-size: 1.7rem;
}

h2 {
    font-size: 1.3rem;
}

h3 {
    font-size: 1.1rem;
}

header {
    position: fixed;
    top: 0;
    background-color: midnightblue;
    color: white;
    width: 100%;
    align-content: center;
}

div#news {
    padding-top: 10rem;
}

div#news > div {
    background-color: antiquewhite;
}

h3.news-header {
  font-size: 2rem;
  text-decoration: underline;
}

#autocomplete {
    width: 95%;
    margin: 10px;
}

.autocomplete-suggestions {
    border: 1px solid #999;
    background: #FFF;
    overflow: auto;
}

.autocomplete-selected {
    background: midnightblue;
    color: white;
}

div.news-footer {
    background: mediumaquamarine;
    color: #FFFFFF;
}

div.from {
    margin: auto;
}

div.when {
    margin: auto;
}

